.navbar-dark .navbar-nav .nav-link{
  color: #ffffff;
}

.student-create-wapper{
  width: 65%;
}

.student-list-wrapper{
  width: 100%;
}

.student-create-wapper, 
.student-list-wrapper{
  margin: auto;
  margin-top: 60px;
}

.student-create-wapper h1,
.student-list-wrapper h1{
  text-align: center;
}

.student-create-wapper form {
  background: #f0f0f0;
  padding: 40px;
}

.loading-wrapper,
.error-wrapper,
.notfound-wrapper{
  text-align: center;
  margin-top: 60px;
}
